.shop-cart-table {
    margin: 0;
    width: 75%;
    min-width: 850px;

    thead th {
        text-align: left;
    }

    .table_row_cell {
        &--quantity {
            width: 94px;

            input {
                width: 70px;
            }
        }

        &--price {
            width: 150px;
        }

        &--remove {
            text-align: end;

            svg {
                height: 100%;
            }
        }
    }

    tfoot td:first-child {
        text-align: end;
    }

    @media screen and (max-width: 991px) {
        width: 100%;
        min-width: 300px;
    }
}